* {
    padding: 0;
    margin: 0;
}

p {
    font-family: Arial;
}

body{
    background-color: blanchedalmond;
    text-align: center;
    flex-wrap: wrap blue;
}




img {
    width: 130px;
    border: 60px dashed burlywood;
    margin: 30px; 
    padding: solid;
}

